<!-- templates/users/profile.html -->

{% extends 'base.html' %}

{% block title %}Profile - InstaHub{% endblock %}

{% block content %}
    <h2>Your Profile</h2>
    {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="max-width: 200px;">
    {% else %}
        <p>No profile picture uploaded.</p>
    {% endif %}
    <p>{{ user.username }}</p>
    <p>{{ user.bio }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Followers: <a href="{% url 'followers_list' user.username %}">{{ user.followers_count }}</a></p>
    <p>Following: <a href="{% url 'following_list' user.username %}">{{ user.following_count }}</a></p>
    <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>
    <a class='btn btn-secondary' href='{% url "password_change" %}'>Change Password</a>
{% endblock %}
